/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
html {
  background-color: #FEF9F9;
  font-family: arial, sans-serif, helvetica, verdana, times;
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.222em; /* 22 / 18 = 1.222 */
}

body {
  padding-top: 3.667em; /* 66 / 18 = 3.667*/
  padding-right: 1.222em; /* 22 / 18 = 1.222 */
  padding-left: 1.222em; /* 22 / 18 = 1.222 */
}

nav {
  background-color: #F08080;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: #FFF0F5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-top: 0.611em; /* 11 / 18 = 0.611 */
  padding-bottom: 1.222em; /* 22 / 18 = 1.222 */
}

h1 {
  text-align: center;
  font-style: italic;
  font-size: 2.369em; /* 42.635 / 18 = 2.369 */
  line-height: 1.032em; /* 44 / 42.635 = 1.032 */
  padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
}

h2 {
  text-align: center;
  font-variant: small-caps;
  font-size: 1.777em; /* 31.984 / 18 = 1.777 */
  line-height: 1.032em; /* 33 / 31.984 = 1.032 */
  padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
  padding-top: 0.516em; /* 22 / 42.635 = 0.516 */
  border-top: 0.065em solid black; /*eyeballed the width of the solid border*/
  border-bottom: 0.065em solid black;
}

h3 {
  font-family: arial, sans-serif, helvetica, verdana, times;
  font-variant: small-caps;
  font-weight: bolder;
  font-stretch: semi-expanded;
  text-decoration-style: solid;
  color: #F08080;
  padding-top: 1.222em; /* 22 / 18 = 1.222 */
  padding-bottom: 0.688em; /* 22 / 31.984 = 0.688 */
}

h4 {
  font-weight: bold;
}

footer > p {
  text-align: right;
  font-variant: normal;
  font-weight: 600;
  font-style: oblique;
}

figcaption {
  padding-bottom: 0.688em; /* 22 / 31.984 = 0.688 */
}

footer {
  background-color: #F08080;
  width: 100%;
  left: 0;
  text-align: center;
  position: absolute;
  padding-top: 0.611em; /* 11 / 18 = 0.611 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.611 */
}

ul {
  padding-bottom: 1.777em; /* 31.984 / 18 = 1.777 */
}
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

/* Responsive Media */
img {
  padding-top: 1.125em; /* 18 / 16 = 1.125 */
  display: block;
  max-width: 100%;
}

.iit {
  padding-top: 0;
  border: 0.1em solid gray;
}

.img-circle {
  padding-top: 0;
  border-radius: 50%;
  border: 0.3em solid black; /* em eyeballed */
}

/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/
#contact-info li {
  padding-bottom: 0.688em; /* 22 / 31.984 = 0.688 */
}

#contact-info ul {
  padding-top: 0.611em; /* 11 / 18 = 0.611 */
}

#skyline figcaption {
  font-style: italic;
  padding-bottom: 3em; /*eyeballed em */
}

#contact-info ul,
#autobiography ul {
  padding-left: 1.222em; /* 22 / 18 = 1.222 */
}

#contact-info li {
  list-style-type: square;
}

#languages li {
  list-style-type: square;
}

#interest li {
  list-style-type: square;
}

#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#navigation li {
  float: left;
  width: 33.333%;
}

#navigation a {
  display: block;
  width: 100%;
  padding-top: 0.611em; /* 11 / 18 = 0.611 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.611 */
}

#navigation a:hover {
  background-color: #ea4848;
}
/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/

#alexis h3 {
  padding-top: 3.667em; /* 66 / 18 = 3.667*/
}

#goals h3 {
  padding-top: 3.667em; /* 66 / 18 = 3.667*/
}

#ambition h3 {
  padding-top: 3.667em; /* 66 / 18 = 3.667*/
  padding-bottom: 0.688em; /* 22 / 31.984 = 0.688 */
}

#ambition p {
  padding-top: 0.611em; /* 11 / 18 = 0.611 */
}

#education h3 {
  padding-top: 1.125em; /* 18 / 16 = 1.125 */
  padding-bottom: 0.688em; /* 11 / 18 = 0.611 */
}

#education p {
  padding-top: 0.611em;
}

#education h4 {
  padding-top: 0.688em; /* 22 / 31.984 = 0.688 */
  padding-bottom: 0.611em; /* 11 / 18 = 0.611 */
}

#attributes h3 {
  padding-top: 1.125em; /* 18 / 16 = 1.125 */
  padding-bottom: 0.688em; /* 11 / 18 = 0.611 */
}

#attributes ul {
  padding-left: 1.222em; /* 22 / 18 = 1.222 */
  padding-top: 0.611em; /* 11 / 18 = 0.611 */
}

#attributes li {
  list-style-type: square;
  padding-left: 0.688em; /* 22 / 31.984 = 0.688 */
}

#work h3 {
  padding-top: 1.222em; /* 22 / 18 = 1.222 */
  padding-bottom: 0.688em; /* 22 / 31.984 = 0.688 */
}

#work h4 {
  padding-top: 0.611em; /* 11 / 18 = 0.611 */
  padding-bottom: 1.125em; /* 18 / 16 = 1.125 */
}

#work ul {
  padding-left: 1.222em; /* 22 / 18 = 1.222 */
  padding-bottom: 3.667em; /* 66 / 18 = 3.667*/
}

#work li {
  list-style-type: square;
  padding-left: 0.688em; /* 22 / 31.984 = 0.688 */
}
/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/

@media screen and (min-width: 360px) {
  #alexis img {
    width: 180px;
    float: right;
    margin-left: 0;
    margin-top: 2.125em; /* 18 / 16 = 1.125 */
  }
  .flexbox #alexis figcaption {
    display: flex;
    width: 126px;
    float: right;
    justify-content: space-between;
  }
  #residency {
    clear: both;
  }
}


@media screen and (min-width: 620px) {
  #alexis img {
    width: 250px;
    float: center;
    margin-right: 165px;
    margin-bottom: 5%;
  }

  #residency h3 {
    padding-top: 10%;
    display: flex;
    width: 150px;
    float: left;
  }

  #residency p {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    margin-top: 10%;
  }

  #sports h3 {
    padding-top: 10%;
    display: flex;
    width: 150px;
    float: left;
  }

  #sports p {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    margin-top: 10%;
  }

  #zodiac h3 {
    padding-top: 10%;
    display: flex;
    width: 150px;
    float: left;
  }

  #zodiac p {
    display: flex;
    padding-top: 0;
    align-items: center;
    margin-top: 10%;
  }

  #past-time h3 {
    width: 10%;
    right: 13%;
    top: 51%;
    position: absolute;
    bottom: 0;
  }

  #past-time ul {
    width: 10%;
    right: 10%;
    top: 60%;
    bottom: 0;
    position: absolute;
  }


@media screen and (min-width: 860px) {
  body {
    padding-left: 9.302325581%; /* 80 / 860 = 0.09302325581% */
    padding-right: 9.30233581%; /* 80 / 860 = 0.09302325581% */
  }
  #alexis img {
    width: 400px;
    float: right;
    margin-right: 20px;
  }
  #alexis figcaption {
    width: 250px;
    text-align: center;
    float: right;
    margin-right: 20px;
  }
}
